<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Robin - Furniture eCommerce</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicon -->
<link th:href="@{/img/favicon.ico}" rel="icon">

<!-- Vendor CSS -->
<link th:href="@{/css/vendors.css}" rel="stylesheet">
<!-- Main CSS -->
<link th:href="@{/css/style.css}" rel="stylesheet">
<!-- Error CSS -->
<link th:href="@{/css/error.css}" rel="stylesheet">
</head>

<body>
	<!--====================  header area ====================-->
	<div
		class="header-area header-area--default header-area--default--white header-sticky">
		<div class="header-logo">
			<a th:href="@{/}"> <img th:src="@{/img/logo.png}"
				class="img-fluid" alt="Logo">
			</a>
		</div>

		<!-- header navigation -->
		<div class="header-navigation-area d-none d-lg-block">
			<div class="container wide">
				<div class="row">
					<div class="col-lg-12">
						<div class="header-info-wrapper">
							<div class="header-navigation-wrapper">
								<nav>
									<ul>
										<li><a th:href="@{/products}">商品瀏覽</a></li>
										<li><a th:href="@{/compare}">商品比較</a></li>
										<li><a th:href="@{/custom}">客製化商品</a></li>
										<li><a th:href="@{/knowledge}">好眠知識</a></li>
									</ul>
								</nav>
							</div>

							<!-- search bar -->
							<nav class="navbar navbar-expand-lg navbar-light bg-light">
								<div class="container-fluid">
									<div class="collapse navbar-collapse">
										<form class="d-flex" th:action="@{/search}" method="get">
											<input class="form-control me-2" type="search" name="q"
												placeholder="搜尋商品">
											<button class="btn btn-outline-success" type="submit">Search</button>
										</form>
									</div>
								</div>
							</nav>

							<!-- header icons -->
							<div class="header-icon-area">
								<ul class="header-icon__list">
									<li><a th:href="@{/messages}"><i
											class="fa-solid fa-message"></i></a></li>
									<li><a th:href="@{/member/account}"><i
											class="fa-solid fa-user"></i></a></li>
									<li><a th:href="@{/notifications}"><i
											class="fa-solid fa-bell"></i></a></li>
									<li><a th:href="@{/cart}"><i
											class="fa-solid fa-cart-shopping"></i></a>
										<div class="minicart-wrapper">
											<p class="minicart-wrapper__title">購物車</p>
											<div class="minicart-wrapper__items ps-scroll">
												<div class="minicart-wrapper__items__single">
													<a href="javascript:void(0)" class="close-icon"><i
														class="pe-7s-close"></i></a>
													<div class="image">
														<a th:href="@{/products}"> <img
															th:src="@{/img/products/product-2-90x100.jpg}"
															class="img-fluid" alt="">
														</a>
													</div>
													<div class="content">
														<p class="product-title">
															<a th:href="@{/products}">Jane Lauren Rebel Sofa</a>
														</p>
														<p class="product-calculation">
															<span class="count">1</span> x <span class="price">$900</span>
														</p>
													</div>
												</div>
											</div>
											<p class="minicart-wrapper__subtotal">
												總計: <span>$1800</span>
											</p>
											<div class="minicart-wrapper__buttons">
												<a th:href="@{/cart}"
													class="theme-button theme-button--minicart-button">查看購物車</a>
											</div>
										</div></li>
								</ul>
							</div>
						</div>
						<!-- header-info-wrapper -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--====================  End of header area  ====================-->

	<!--=======  mobile navigation area  =======-->
	<div class="header-mobile-navigation d-block d-lg-none">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-6">
					<div class="header-logo">
						<a th:href="@{/}"> <img th:src="@{/img/logo.png}"
							class="img-fluid" alt="">
						</a>
					</div>
				</div>
				<div class="col-6">
					<div class="mobile-navigation text-end">
						<ul class="header-icon__list">
							<li><a th:href="@{/wishlist}"><i class="fa fa-heart-o"></i><span
									class="item-count">1</span></a></li>
							<li><a th:href="@{/cart}"><i
									class="fa fa-shopping-basket"></i><span class="item-count">3</span></a></li>
							<li><a href="javascript:void(0)" class="mobile-menu-icon"
								id="mobile-menu-trigger"><i class="fa fa-bars"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--=======  End of mobile navigation area  =======-->

	<!--====================  page content wrapper ====================-->
	<div class="page-content-wrapper">
		<div class="myaccount-wrapper">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 col-md-8 col-sm-12">
						<form id="register-form" th:action="@{/mem/register}"
							method="post" th:object="${memberVO}">
							<div class="login-form">
								<h4 class="login-title">註冊</h4>
								<a th:href="@{/mem/login}" class="toggle-link">← 返回登入畫面</a>

								<!-- 全域錯誤訊息顯示 -->
								<div th:if="${errorMsg}" class="error-msg">
									<span th:text="${errorMsg}"></span>
								</div>

								<!-- 成功訊息顯示 -->
								<div th:if="${success}" class="success">
									<span th:text="${success}"></span>
								</div>

								<!-- 帳號 -->
								<div>
									<label>帳號</label> <input type="text" th:field="*{account}" />
									<span th:if="${#fields.hasErrors('account')}"
										th:errors="*{account}" class="error-msg"></span>
								</div>

								<!-- 密碼 -->
								<div>
									<label>密碼</label> <input type="password" th:field="*{password}" />
									<span th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}" class="error-msg"></span>
								</div>

								<!-- 姓名 -->
								<div>
									<label>姓名</label> <input type="text" th:field="*{name}" /> <span
										th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
										class="error-msg"></span>
								</div>

								<!-- Email -->
								<div>
									<label>Email</label> <input type="email" th:field="*{email}" />
									<span th:if="${#fields.hasErrors('email')}"
										th:errors="*{email}" class="error-msg"></span>
								</div>

								<!-- 手機號碼 -->
								<div>
									<label>手機號碼</label> <input type="text" th:field="*{phone}" />
									<span th:if="${#fields.hasErrors('phone')}"
										th:errors="*{phone}" class="error-msg"></span>
								</div>

								<!-- 生日 -->
								<div>
									<label>生日</label> <input type="date" th:field="*{birthday}" />
									<span th:if="${#fields.hasErrors('birthday')}"
										th:errors="*{birthday}" class="error-msg"></span>
								</div>

								<!-- 住址 -->
								<div>
									<label>住址</label> <input type="text" th:field="*{address}" />
									<span th:if="${#fields.hasErrors('address')}"
										th:errors="*{address}" class="error-msg"></span>
								</div>


								<button type="submit" class="theme-button">註冊</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--=======  offcanvas mobile menu  =======-->
	<div class="offcanvas-mobile-menu" id="offcanvas-mobile-menu">
		<a href="javascript:void(0)" class="offcanvas-menu-close"
			id="offcanvas-menu-close-trigger"> <i class="pe-7s-close"></i>
		</a>
		<div class="offcanvas-wrapper">
			<div class="offcanvas-inner-content">
				<!-- 搜尋區 -->
				<div class="offcanvas-mobile-search-area">
					<form th:action="@{/search}" method="get">
						<input type="search" name="q" placeholder="Search ...">
						<button type="submit">
							<i class="fa fa-search"></i>
						</button>
					</form>
				</div>

				<!-- 側邊選單 -->
				<nav class="offcanvas-naviagtion">
					<ul>
						<li class="menu-item-has-children"><a href="#">Elements</a>
							<ul class="sub-menu">
								<li class="menu-item-has-children"><a href="#">Shop/Products</a>
									<ul class="sub-menu">
										<li><a th:href="@{/element/product-category}">Product
												Categories</a></li>
										<li><a th:href="@{/element/product-carousel}">Products
												Carousel</a></li>
										<li><a th:href="@{/element/product-widget}">Product
												Widget</a></li>
										<li><a th:href="@{/element/recent-product}">Recent
												Products</a></li>
										<li><a th:href="@{/element/sale-product}">Sale
												Products</a></li>
										<li><a th:href="@{/element/featured-product}">Featured
												Product</a></li>
										<li><a th:href="@{/element/top-rated-product}">Top
												Rated Products</a></li>
									</ul></li>
								<li class="menu-item-has-children"><a href="#">Theming</a>
									<ul class="sub-menu">
										<li><a th:href="@{/element/blog-post}">Blog Posts</a></li>
										<li><a th:href="@{/element/mailchimp-form}">MailChimp
												Form</a></li>
										<li><a th:href="@{/element/accordion}">Accordion/Toggles</a></li>
										<li><a th:href="@{/element/progress-bar}">Progress
												Bars</a></li>
										<li><a th:href="@{/element/countdown}">Countdown
												Timer</a></li>
										<li><a th:href="@{/element/button}">Buttons</a></li>
										<li><a th:href="@{/element/testimonial}">Testimonials</a></li>
										<li><a th:href="@{/element/google-map}">Google Maps</a></li>
									</ul></li>
							</ul></li>

						<li class="menu-item-has-children"><a href="#">Blog</a>
							<ul class="sub-menu">
								<li class="menu-item-has-children"><a href="#">Blog
										post list</a>
									<ul class="sub-menu">
										<li><a th:href="@{/blog/one-column}">Blog one column</a></li>
										<li><a th:href="@{/blog/two-column}">Blog two column</a></li>
										<li><a th:href="@{/blog/left-sidebar}">Blog left
												sidebar</a></li>
										<li><a th:href="@{/blog/right-sidebar}">Blog right
												sidebar</a></li>
									</ul></li>
								<li class="menu-item-has-children"><a href="#">Blog
										post details</a>
									<ul class="sub-menu">
										<li><a th:href="@{/blog/post-image}">Blog post format
												image</a></li>
										<li><a th:href="@{/blog/post-gallery}">Blog post
												format gallery</a></li>
										<li><a th:href="@{/blog/post-audio}">Blog post format
												audio</a></li>
										<li><a th:href="@{/blog/post-video}">Blog post format
												video</a></li>
										<li><a th:href="@{/blog/post-left-sidebar}">Blog post
												left sidebar</a></li>
										<li><a th:href="@{/blog/post-right-sidebar}">Blog
												post right sidebar</a></li>
									</ul></li>
							</ul></li>

						<li class="menu-item-has-children"><a href="#">Shop</a>
							<ul class="sub-menu">
								<li class="menu-item-has-children"><a href="#">Shop
										Pages</a>
									<ul class="sub-menu">
										<li><a th:href="@{/shop/fullwidth}">Shop Fullwidth</a></li>
										<li><a th:href="@{/shop/list}">Shop List Layout</a></li>
										<li><a th:href="@{/shop/no-sidebar}">Shop No Sidebar</a></li>
										<li><a th:href="@{/shop/left-sidebar}">Shop With Left
												Sidebar</a></li>
										<li><a th:href="@{/shop/right-sidebar}">Shop With
												Right Sidebar</a></li>
										<li><a th:href="@{/shop/brand}">Shop By Brand</a></li>
									</ul></li>
								<li class="menu-item-has-children"><a href="#">Shop
										Pages(Details)</a>
									<ul class="sub-menu">
										<li><a th:href="@{/product/basic}">Basic</a></li>
										<li><a th:href="@{/product/fullwidth}">Fullwidth</a></li>
										<li><a th:href="@{/product/sticky}">Sticky Details</a></li>
										<li><a th:href="@{/product/bottom-thumbnail}">Bottom
												thumbnails</a></li>
										<li><a th:href="@{/product/extra-content}">Extra
												content</a></li>
										<li><a th:href="@{/product/variation-image}">Variations
												Images</a></li>
										<li><a th:href="@{/product/affiliate}">Product
												details affiliate</a></li>
										<li><a th:href="@{/product/group}">Product details
												group</a></li>
									</ul></li>
							</ul></li>
					</ul>
				</nav>

				<!-- 聯絡資訊 -->
				<div class="offcanvas-widget-area">
					<div class="off-canvas-contact-widget">
						<ul class="header-contact-info__list">
							<li><i class="pe-7s-phone"></i> <a href="tel://12452456012">(1245)
									2456 012</a></li>
							<li><i class="pe-7s-mail-open"></i> <a
								href="mailto:info@yourdomain.com">info@yourdomain.com</a></li>
						</ul>
					</div>
					<!-- 社群連結 -->
					<div class="off-canvas-widget-social">
						<a href="#" title="Facebook"><i class="fa fa-facebook"></i></a> <a
							href="#" title="Twitter"><i class="fa fa-twitter"></i></a> <a
							href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a> <a
							href="#" title="Youtube"><i class="fa fa-youtube-play"></i></a> <a
							href="#" title="Vimeo"><i class="fa fa-vimeo-square"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--=======  End of offcanvas mobile menu  =======-->

	<!--=======  search overlay  =======-->
	<div class="search-overlay" id="search-overlay">
		<span class="close-icon search-close-icon"> <a
			href="javascript:void(0)" id="search-close-icon"> <i
				class="pe-7s-close"></i>
		</a>
		</span>
		<div class="search-overlay-content">
			<div class="input-box">
				<form th:action="@{/search}" method="get">
					<input type="search" name="q" placeholder="Search Products...">
				</form>
			</div>
			<div class="search-hint">
				<span># Hit enter to search or ESC to close</span>
			</div>
		</div>
	</div>
	<!--=======  End of search overlay  =======-->

	<!-- scroll to top -->
	<button class="scroll-top">
		<i class="fa fa-angle-up"></i>
	</button>

	<!-- JS files -->
	<script th:src="@{/js/vendors.js}"></script>
	<script th:src="@{/js/active.js}"></script>
</body>
</html>