.error {
	color: #ff0000;
	font-style: italic;
	font-weight: lighter;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 5px;
	margin: 5px;
	width: 500px;
	font-weight: normal;
}
.error-msg {
    color: #ff0000;       /* 必填提示紅字 */
  	font-weight: bold;
}
.error-hint {
  color: #ff0000; /* 紅色 */
  font-size: 13px;
  margin-top: 4px;
  display: block;
}

