<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>購物車 - 夢享家 DreamHouse</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" th:href="@{/images/dreamhouseb.ico}">
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/vendors.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/cart.css}">
<!-- Header CSS -->
<link th:href="@{/css/header.css}" rel="stylesheet">
</head>

<body>

	<!-- ================= Header ================= -->
	<div th:replace="~{front-end/layout :: header}"></div>

	<!-- ================= Main ================= -->
	<main class="p-4"></main>

	<!-- ===== 購物車有商品 ===== -->
	<div id="cart-content" th:if="${not #lists.isEmpty(cartItems)}">
		<div class="container">
			<h1 class="mb-3">購物車</h1>
		<form method="get" th:action="@{/checkout}">
			<table class="cart-table">
				<thead>
					<tr>
						<th>商品名稱</th>
						<th>數量</th>
						<th>單價</th>
						<th>小計</th>
						<th>操作</th>
						<th class=hidden></th>
						<th class=hidden></th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="item : ${cartItems}">
					
					
						<td th:text="${item.productName}">商品名稱</td>
						<td th:text="${item.quantity}">1</td>
						<td>$<span th:text="${item.price}">0</span></td>
						<td>$<span th:text="${item.price * item.quantity}">0</span>
						</td>
						<td><a th:href="@{/cart/removeItem(memberId=${session.memberId}, itemKey=${item.itemKey})}"
							class="btn btn-sm btn-danger"> 移除 </a></td>
						<td th:value="${item.itemKey}"></td>
						<td th:value="${item.productId}"></td>
					</tr>
				</tbody>
			</table>
			<input type="hidden" name="memberId" th:value="${session.memberId}">
			<div class="cart-total">
				總計: $<span th:text="${cartTotal}">0</span>
			</div>
			<div class="add-to-cart-btn d-inline-block">
				<button type="submit" class="theme-button theme-button--alt">前往結帳</button>
			</div>
			</form>
		</div>
	</div>

	<!-- ===== 購物車為空 ===== -->
	<div id="cart-empty" class="cart-empty"
		th:if="${#lists.isEmpty(cartItems)}">
		<i class="fa-solid fa-cart-shopping"></i>
		<h2>您的購物車是空的</h2>
		<p>快去挑選適合您的好眠商品吧！</p>
		<a th:href="@{/}" class="theme-button">前往商品頁</a>
	</div>

	<script
		th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/search.js}"></script>
</body>

</html>
