<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="header"
		class="header-area header-area--default header-area--default--white header-sticky">

		<div
			class="header-navigation-area header-navigation-area--white header-navigation-area--extra-space d-none d-lg-block">
			<div class="container wide">
				<div class="row">
					<div class="col-lg-12">
						<div class="header-info-wrapper header-info-wrapper--alt-style">


							<!-- LOGO -->
							<div class="header-logo">
								<a th:href="@{/}"> <img th:src="@{/images/headlogo.png}"
									class="img-fluid" alt="">
								</a>
							</div>

							<!-- 導覽列 -->
							<div class="header-navigation-wrapper">
								<nav>
									<ul>
										<li class="has-children"><a th:href="@{/}">商品瀏覽</a>
										</li>
										<li class="has-children"><a
											th:href="@{/custom/customproduct}">客製化商品</a></li>
										<li class="has-children"><a th:href="@{/aboutus}">關於我們</a>
										</li>
									</ul>
								</nav>
							</div>

							<!-- 搜尋 -->
							<nav class="navbar navbar-expand-lg navbar-light bg-light">
								<div class="container-fluid">
									<div class="collapse navbar-collapse"
										id="navbarSupportedContent">
										<form id="searchForm" class="d-flex" th:action="@{/search}"
											method="get">
											<input id="searchInput" class="form-control me-2"
												type="search" name="product" placeholder="搜尋商品">
											<button id="searchBtn" type="submit"
												class="btn btn-outline-success">Search</button>
										</form>
									</div>
								</div>
							</nav>

							<!-- ICON -->
							<div class="header-icon-area">
								<ul class="header-icon__list">

									<!-- 會員 -->
									<li>
										<!-- 未登入 -->
										<div class="dropdown" th:if="${session.memberId == null}">
											<a class="dropdown-toggle" href="#" data-bs-toggle="dropdown">
												<i class="fa-solid fa-user"></i>
											</a>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" th:href="@{/mem/login}">
														一般會員登入 / 註冊 </a></li>
												<li><a class="dropdown-item" th:href="@{/emp/login}">
														員工登入 </a></li>
											</ul>
										</div> <!-- 已登入 -->
										<div class="dropdown" th:if="${session.memberId != null}">
											<a class="dropdown-toggle" href="#" data-bs-toggle="dropdown">
												<i class="fa-solid fa-user"></i>
											</a>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item"
													th:href="@{/mem/my-account}">我的帳戶</a></li>
												<li><a class="dropdown-item"
													th:href="@{/mem/my-coupon}">我的優惠券</a></li>
												<li><a class="dropdown-item"
													th:href="@{/front/orders/myOrders}">我的訂單</a></li>
												<li><a class="dropdown-item" th:href="@{/mem/logout}">登出</a></li>
											</ul>
										</div>
									</li>

									<!-- 購物車 -->
									<li><a th:href="@{/cart/getCart(memberId=${session.memberId})}"> <i
											class="fa-solid fa-cart-shopping"></i>
									</a>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>
