<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>員工資料修改 - update_emp_input.html</title>

<head th:insert="~{/back-end/emp/included-fragment}"></head>
<style type="text/css">
    button {
        padding: 5px;
    }
    form {
        display: table;
    }
    form div {
        display: table-row;
    }
    label, input, span, select {
        display: table-cell;
        margin: 5px;
        text-align: left;        
    }
    input[type=text], input[type=password], select {
        width: 200px;
        margin: 5px;
    }
    form div div {
        display: table-cell;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
     <div align="center"> 
        <h2>員工資料修改 - update_emp_input.html</h2>
        <h3><a class="navbar-brand" th:href="@{/emp/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁</a></h3>
     </div>
</nav>

<div align="center">
    <h3><b>所有欄位皆為必填欄位</b></h3>
    <form th:action="@{update}" method="post" th:object="${empVO}">
        
        <!-- 員工編號 -->
        <div>
            <label>員工編號:</label>
            <input type="text" th:field="*{employeeId}" style="border:0px ; font-weight: bold;" readonly />
        </div>

        <!-- 帳號 -->
        <div>
            <label>帳號:</label>
            <input type="text" th:field="*{account}" />
            <span th:if="${#fields.hasErrors('account')}" th:errors="*{account}" class="error"></span>
        </div>

        <!-- 密碼 -->
        <div>
            <label>密碼:</label>
            <input type="password" th:field="*{password}" />
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>
        </div>

        <!-- 姓名 -->
        <div>
            <label>姓名:</label>
            <input type="text" th:field="*{name}" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
        </div>

        <!-- Email -->
        <div>
            <label>Email:</label>
            <input type="text" th:field="*{email}" />
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
        </div>

        <!-- 狀態 -->
        <div>
            <label>狀態:</label>
            <select th:field="*{status}">
                <option value="1">啟用</option>
                <option value="0">停用</option>
            </select>
        </div>

        <!-- 送出按鈕 -->
        <div>
            <div></div>
            <div><button type="submit">送出修改</button></div>
            <div></div>
        </div>
    </form>
</div>

</body>
</html>